*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
MNIST/
cifar-100-python.tar.gz
cifar-100-python
lightning_logs/
tiny-imagenet-200/
outputs/
wandb/
caltech101/
caltech256/
food-101.tar.gz
food-101/
last.ckpt
nohup.out
tiny-imagenet-200.zip
